.im2 img {
    height: 1200px;
    width: 990px;
    position: absolute;
    top: 0px;
    right: -300px;
    z-index: -1;
}
// .im1 img {
//     height: 1000px;
//     width: 500px;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: -1;
// }
